<html>


<head>
    <title></title>
    <%- include('headers'); -%>
</head>
<% if(users && users.length>0) { %>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>S-No.</th>
                <th>User_id</th>
                <th>Name</th>
                <th>Blogs</th>
                <th>UsersBlog-comments</th>
                <th>Comments-On-OtherBlog</th>
                <th>Status</th>
                <th>DeleteUser</th>
                <th>Total Blogs</th>
                <th>Total Comments</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0; i<users.length; i++) { %>
                <tr>
                    <td>
                        <%= i+1 %>
                    </td>
                    <td>
                        <%= users[i]._id%>
                    </td>
                    <td>
                        <%= users[i].name%>
                    </td>
                    <td>
                        <% if(blog) { %>
                            <!-- for blog[0]._id===users[i]._id -->
                            <!-- for  blog.length-->

                            <% for(var j=0; j<blog.length; j++) { %>
                                <% if(blog[j]._id==users[i]._id) { %>

                                    <% for(var k=0; k<blog[j].blogid.length; k++) { %>
                                        <%=k+1%>.
                                            <%=blog[j].blogid[k]%>

                                                <% } %>
                                                    <% } else {%>
                                                        <% } %>
                                                            <% } %>
                                                                <% } %>

                    </td>
                    <td>
                        <% if(blog) { %>
                            <% for(var j=0; j<blog.length; j++) { %>
                                <% if(blog[j]._id==users[i]._id) { %>

                                    <% for(var k=0; k<blog[j].blogid.length; k++) { %>
                                        <%=k+1%>.
                                            <%=blog[j].blogid[k]%>

                                                <% } %>
                                                    <% } else {%>
                                                        <% } %>
                                                            <% } %>
                                                                <% } %>
                    </td>
                    <td>
                        <% if(comment) { %>
                            <% for(var j=0; j<comment.length; j++) { %>
                                <% if(comment[j]._id==users[i]._id) { %>

                                    <% for(var k=0; k<comment[j].commentid.length; k++) { %>
                                        <%=comment[j].commentid[k]%>

                                            <% } %>
                                                <% } else {%>
                                                    <% } %>
                                                        <% } %>
                                                            <% } %>
                    </td>

                    <td>
                        <button onclick="window.location='/api/v1/admin/userStatusUpdate/<%= users[i]._id %>'">
                            <%= users[i].status%>
                        </button>
                    </td>



                    <td>
                        <a href='/api/v1/admin/delete/<%= users[i]._id %>'>Delete</a>
                    </td>

                    <% } %>
                        <% } else { %>
                            No Record Found
                            <% } %>
                                <td>

                                    <%= totalBlogs%>

                                </td>
                                <td>

                                    <%= comments%>

                                </td>
                </tr>
        </tbody>
    </table>








</html>